<div class='container'>
  <div class='row'>
    <div class='col-lg-3 col-sm-6'>
      <div class='widget'>
        <img src='/img/logo.png' alt='about' />
        <p>7th Harley Place, London W1G 8LZ United Kingdom</p>
        <h6><span>{{__ 'Call us'}}: </span>(+880) 111 222 3456</h6>
      </div>
    </div>
    <div class='col-lg-3 col-sm-6'>
      <div class='widget'>
        <h4>{{__ 'Legal'}}</h4>
        <ul>
          <li><a href='#'>{{__ 'Terms of Use'}}</a></li>
          <li><a href='#'>{{__ 'Privacy Policy'}}</a></li>
          <li><a href='#'>{{__ 'Security'}}</a></li>
        </ul>
      </div>
    </div>
    <div class='col-lg-3 col-sm-6'>
      <div class='widget'>
        <h4>{{__ 'Account'}}</h4>
        <ul>
          <li><a href='#'>{{__ 'My Account'}}</a></li>
          <li><a href='#'>{{__ 'Watchlist'}}</a></li>
          <li><a href='#'>{{__ 'Collections'}}</a></li>
          <li><a href='#'>{{__ 'User Guide'}}</a></li>
        </ul>
      </div>
    </div>
    <div class='col-lg-3 col-sm-6'>
      <div class='widget'>
        <h4>{{__ 'Newsletter'}}</h4>
        <p>
          {{__
            'Subscribe to our newsletter system now to get latest news from us.'
          }}
        </p>
        <form action='#'>
          <input type='text' placeholder='{{__ "Enter your email..."}}' />
          <button>{{__ 'SUBSCRIBE NOW'}}</button>
        </form>
      </div>
    </div>
  </div>
  <hr />
</div>
<div class='copyright'>
  <div class='container'>
    <div class='row'>
      <div class='col-lg-6 text-center text-lg-left'>
        <div class='copyright-content'>
          <p>
            <a target='_blank' href='https://www.templateshub.net'>
              {{__ 'Templates Hub'}}
            </a>
          </p>
        </div>
      </div>
      <div class='col-lg-6 text-center text-lg-right'>
        <div class='copyright-content'>
          <a href='#' class='scrollToTop'>
            {{__ 'Back to top'}}
            <i class='icofont icofont-arrow-up'></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
